.webSite {
  background-color: #414040;
  color: #ffebeb !important;
  overflow: hidden;
}

.logo {
  width: 50px;
}
.nav-tab {
  background-color: #0d0d0d;
}


.meal-layer {
  width: 100%;
  height: 100%;
  background-color: #ffcdcdca;
  top: 100%;
  transition: 0.5s;
}

.meal:hover .meal-layer {
  top: 0;
}

.side-nav-menu {
  z-index: 99;
}

.cursor-pointer {
  cursor: pointer;
}

.alert {
  width: fit-content;
}

.loading-screen {
  z-index: 999;
  display: flex;
}

.inner-loading-screen {
  position: absolute;
  z-index: 9;
  background-color: #0d0d0d;
  display: flex;
}

i {
  cursor: pointer;
}